.details {
    display: none;
}

.details div {
    padding: 10px;
    background-color: #f9f9f9; /* Default background color */
    border: 1px solid #ddd;
}

.details p {
    margin-bottom: 10px;
}

.details img {
    max-width: 100%;
    display: block;
    margin-bottom: 10px;
}

/* Light purple background color */
.details div {
    background-color: #e6e6fa; /* Light purple */
}